/* All CSS reset */
* {
    margin: 0;
    padding: 0;
}

/* All CSS reset */

/* Navbar Part Start*/
.navbar {
    background: #3C0486;
}

.navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

.navbar-brand img {
    width: 200px;
}

/* Navbar Part End*/

/* Banner Part Start*/
#bannerpart {
    background: #3C0486;
    height: 500px;
    width: 100%;
}

.banner_left {
    padding: 100px 0px;
    color: #fff;
}

.banner_left h1 {
    font-family: "Raleway", sans-serif;
    font-size: 58px;
    line-height: 68px;
}

.banner_left p {
    font-family: "Raleway", sans-serif;
    font-size: 22;
    line-height: 20px;
}

.banner_left .btn {
    color: #fff;
}

.banner_right img{
    width:525px;
}

/* Banner Part End*/

/* Boost Part Start*/
#boostpart{
padding: 100px 0px;
}

#boostpart h3{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 58px;
    padding-right: 36px;
    color: #30006C;
}

#boostpart p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    
}
#boostpart h5{
    font-family: "Raleway", sans-serif;
font-size: 20px;
font-weight: 600;
color:#300370;
    line-height: 20px;

}
/* Boost Part End*/

/* Banner Part Start*/
/* Banner Part End*/

/* Banner Part Start*/
/* Banner Part End*/

/* Banner Part Start*/
/* Banner Part End*/